.made_group
  グループを作成しました

/ .leftblock
/   .leftblock__acount
/     .leftblock__acount__name
/       アカウント名
/     = fa_icon("edit")
/     = fa_icon("cog")

/   .leftblock__group1
/     .leftblock__group1__title
/       testgroup
/     .leftblock__group1__lastmessage
/       test

/ .rightblock
/   .rightblock__group
/     .rightblock__group__title
/       testgroup
/     .rightblock__group__member
/       Member:testname
/     = link_to('edit', '#')

/   .rightblock__message
/     .rightblock__message__message1
/       .rightblock__message__message1__acount
/         アカウント名
/       .rightblock__message__message1__message
/         メッセージ
/       .rightblock__message__message1__date
/         日付

/   .rightblock__form
/     = form_tag
/     = link_tag('Send', '#')





